body {
    font-family: 'Roboto', sans-serif;
    background-color: #160d37;
}

/* Override boostrap defaults.

   This could be moved to a bootstrap theme
   to avoid having to use !important.
 */

/* navbar.less */
#navbar {
    background: #1e1348;
    border-bottom: none;
    margin-bottom: 0 !important;
}

/* navbar.less */
.navbar {
    background: #1e1348;
    border-bottom: none;
    margin-bottom: 0 !important;
}

.navbar-nav {
    position: absolute;
    right: 7rem;
    bottom: 0;
}

.navbar-nav li.active a {
    color: white !important;
    font-weight: bold;
    background: inherit !important;
    border-bottom: 3px solid red;
}

.navbar-nav li a {
    color: white !important;
    font-weight: bold;
    background: inherit !important;
}

.navbar-nav li a:hover {
    color: white !important;
    font-weight: bold;
    background: inherit !important;
}


.navbar-brand {
    height: 110px;
}

.navbar-static-top {
    padding-left: 3rem;
    padding-right: 3rem;

    background: #1e1348;
    border-bottom: none;
    margin-bottom: 0 !important;
}

.jumbotron {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    background-color: inherit;
}

.container {
    background: white;
}

.container-flow {
    background: white;
}

.heading .container {
    position: relative;
}

/* header + lockup */
.heading .container .lockup {
    position: absolute;

    color: white;

    font-size: 2.2rem;
    line-height: 1.1em;

    font-family: 'Roboto', sans-serif;
    font-weight: bold;

    width: 30rem;

    bottom: 0px;
    left: 60px;

    margin: 0;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    background: rgba(44,111,170, 0.8);
    border-bottom: 4px rgba(175, 0, 15, 1) solid;
}

.tile {
    display: inline-block;
    width: 340px;
    height: 340px;
    margin-left: 30px;
    margin-right: 30px;
}

.tile h2 {
    background: #00549f;
    margin-bottom: 0px;
    display: inline-block;
    font-size: 2.5rem;
    padding: 6px;
}

.tile h2 a {
    color: white;
}

/*
content div {
    background: white;
}

.header {
    background: #1e1348;
    font-color: white;
}

.heading {
    position: relative;
    padding: 0;
    background-size: cover;
    margin-bottom: 0px;
}

.heading .container {
    padding: 0;
}

.heading .container .lockup {
    color: white;

    font-size: 1.9em;
    line-height: 1.1em;

    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    position: absolute;

    height: 5.2em;
    width: 11em;

    bottom: -4px;
    left: 20px;

    padding: 22px;

    background: rgba(44,111,170, 0.8);
    border-bottom: 4px rgba(175, 0, 15, 1) solid;
}

.content {
    padding: 1em;
}


.sharing-bar {
    background: #1e1348;
    color: white;
    font-size: 18px;
    vertical-align: center;
    text-align: center;
    padding-top: 16px;
}

.sharing-bar .fa-stack-1x {
    color: #1e1348;
}

.stat {
    padding-left: 8px;
}

.pullout {
    background-color: #fcfbf9;
    padding: 1em;
}

.pullout .text {
    font-size: 1.2em;
    display: inline-block;
    overflow-x: hidden;
    width: 75%;
    margin-top: 16px;
    vertical-align: top;
}

.pullout .stat {
    border-left: 3px #01539e solid;
    display: inline-block;
}

.pullout .stat h1 {
    color: #01539e;
    font-size: 3.3em;
}
*/