body {
    font-family: 'Roboto', sans-serif;
    background: #160d37;
}

content div {
    background: white;
}

.header {
    background: #1e1348;
    font-color: white;
}

.heading {
    position: relative;
    padding: 0;
    background-size: cover;
    margin-bottom: 0px;
}

.heading .container {
    padding: 0;
}

.heading .container .lockup {
    color: white;

    font-size: 1.9em;
    line-height: 1.1em;

    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    position: absolute;

    height: 5.2em;
    width: 11em;

    bottom: -4px;
    left: 20px;

    padding: 22px;

    background: rgba(44,111,170, 0.8);
    border-bottom: 4px rgba(175, 0, 15, 1) solid;
}

.content {
    padding: 1em;
}


.sharing-bar {
    background: #1e1348;
    color: white;
    font-size: 18px;
    vertical-align: center;
    text-align: center;
    padding-top: 16px;
}

.sharing-bar .fa-stack-1x {
    color: #1e1348;
}

.sharing-bar div {
    /* display: inline-block;*/
}


.stat {
    padding-left: 8px;
}

.pullout {
    background-color: #fcfbf9;
    padding: 1em;
}

.pullout .text {
    font-size: 1.2em;
    display: inline-block;
    overflow-x: hidden;
    width: 75%;
    margin-top: 16px;
    vertical-align: top;
}

.pullout .stat {
    border-left: 3px #01539e solid;
    display: inline-block;
}

.pullout .stat h1 {
    color: #01539e;
    font-size: 3.3em;
}