boto3==1.5.10
botocore==1.8.24
dj-database-url==0.4.2
Django>=2.0,<2.1
django-storages==1.6.5

gunicorn==19.7.1
psycopg2==2.7.3.2

# TODO - switch to pypi when wagtail2 is out in january # https://stackoverflow.com/questions/47796862/should-i-use-wagtail-2-for-a-new-project
#packages/wagtail-2.0a0-py3-none-any.whl

# TODO - move wagtail-markdown to uktrade
-e git+https://github.com/stuaxo/wagtail-markdown.git@wagtail2#egg=wagtail-markdown

whitenoise==3.3.1
