body {
    font-family: 'Roboto', sans-serif
}

.heading {
    position: relative;
    padding: 0;
    background-size: cover;
    margin-bottom: 0px;
}

.heading .container {
    padding: 0;
}

.heading .container .lockup {
    color: white;

    font-size: 1.9em;
    line-height: 1.1em;

    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    position: absolute;

    height: 5.2em;
    width: 11em;

    bottom: -4px;
    left: 20px;

    padding: 22px;

    background: rgba(44,111,170, 0.8);
    border-bottom: 4px rgba(175, 0, 15, 1) solid;
}

.content {
    padding: 1em;
}

.pullout {
    background-color: #fcfbf9;
    padding: 1em;
}

.pullout .text {
    font-size: 1.1em;
}

.pullout .stat {
    border-left: 3px #01539e solid;
}

.pullout .stat h1 {
    color: #01539e;
    font-size: 3.3em;
}