body {
    font-family: 'Roboto', sans-serif
}

.heading {
    position: relative;
    padding: 0;
    background-size: cover;
    margin-bottom: 0px;
}

.heading .container {
    padding: 0;
}

.heading .container .lockup {
    font-size: 2em;
    line-height: 1.1em;
    font-family: 'Roboto', sans-serif;

    font-weight: bold;
    position: absolute;
    bottom: -4px;
    left: 20px;

    height: 5em;
    width: 10em;

    background: rgba(44,111,170, 0.8);
    color: white;
    border-bottom: 4px rgba(175, 0, 15, 1) solid;
    padding: 10px;
}

.content {
    padding: 1em;
}

.pullout {
    background-color: #fcfbf9;
    padding: 1em;
}

.pullout .stat {
    border-left: 3px #01539e solid;
}

.pullout .stat h1 {
    color: #01539e;
}