{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}
{% load wagtailmarkdown %}

{% include_block page.body %}

{% block body_class %}industry{% endblock %}

{% block content %}

{% include "industry/blocks/heading.html" %}

{% if page.subsections %}
<div class="container subsections">
<div class="panel-group col-md-10" id="accordion">
{% for block in page.subsections %}
    <div class="panel panel-default">
    {% include_block block with position=forloop.counter %}
    </div>
{% endfor %}
</div>
</div>
{% endif %}

{% if page.get_children %}
<div class="container">
<h1>Related Industries</h1>
{% for tile in page.get_children %}
    <h2><a href="{% pageurl tile %}">{{ tile.title }}</a></h2>
    {{ tile.specific.description }}
{% endfor %}
{% endif %}
</div>
{% endblock %}