{% load navigation_tags static %}

<div class="container" role="contentinfo">
    <div class="row sharing-bar" style="padding: 8px">
        <div class="col-md-2" style="display: inline-block">
            Find us on social media
        </div>
        <div class="col-md-4" style="display: inline-block">
            <ul class="list-inline" style="display:inline-block">
                <li class="list-inline-item">
                    <a href="https://twitter.com/iigb" target="_blank">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                            <i class="fa fa-twitter fa-stack-1x"></i>
                        </span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://facebook.com/iigb" target="_blank">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                            <i class="fa fa-facebook fa-stack-1x"></i>
                        </span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://linkedin.com/iigb" target="_blank">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                            <i class="fa fa-linkedin fa-stack-1x"></i>
                        </span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://youtube.com/iigb" target="_blank">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                            <i class="fa fa-youtube fa-stack-1x"></i>
                        </span>
                    </a>
                </li>
            </ul>

            {# % get_footer_text % #}
        </div>
    </div>
</div>
